<div class="info"> 
    <%- include('partials/messages') -%>
    <div class="header">
    <h5>Your info is following</h5>

        <table class="table  ">
            <thead class="thead-dark">
                <tr class="bg-dark" >
                    
                    <th>Name</th>
                    <th>Email</th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= user[0].username %></td>
                    <td><%= user[0].email %></td>
    
                </tr>
            </tbody>
 

        </table>
    </div>
<div class="changeInfo">
    <h5>Change Your Info</h5>
    <form action="account" method="POST">
        <input type="hidden" name="hiddenUsername" value="<%= user[0].username %>">
        <input type="hidden" name="id" value="<%= user[0]._id %>">
        <input type="text" name="username" value="<%= user[0].username %>" required><br>
        <input type="email" name="email" value="<%= user[0].email %>" required><br>
        <input type="submit" value="Update">
    </form>

    <hr >

  <button class="btn btn-danger" id="delete" data-id="<%= user[0].id %> ">DELETE MY ACCOUNT</button class="btn btn-danger"> </li>

</div>


</div>
